<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <style>
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contact-btn {
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: .5s ease-in-out;
  width: 280px;
  font-size: 15px;
}

#contact-btn:hover {
    background-color: black;
  color: white;
}

.hidden {
  display: none;
}
  </style>
</head>

<body>

    <%- include('template\\header.ejs') %>

    <div class="container-fluid bg-white py-5">
        <h1>Contact Us</h1>
        <form id="contactForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required></textarea>
          </div>
          <button id="contact-btn" type="submit">Submit</button>
        </form>
        <div id="confirmation" class="hidden">
          <p>Thank you for contacting us!</p>
        </div>
      </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

            <script>
                window.embeddedChatbotConfig = {
                chatbotId: "b4JQA9nfVgjPtdnou5Ya6",
                domain: "www.chatbase.co"
                }
                </script>
                <script
                src="https://www.chatbase.co/embed.min.js"
                chatbotId="b4JQA9nfVgjPtdnou5Ya6"
                domain="www.chatbase.co"
                defer>
                </script>
        <script src="js\app.js"></script>
</body>

</html>