<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentt</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="css\styles.css">
</head>

<body>

    <footer class="footer">
        <div class="container">
            <div class="footer-line"></div>
            <div class="row">
                <div class="col-md-3 footer-col">
                    <h4>ABOUT VELURELLE</h4>
                    <ul>
                        <li><a href="http://localhost:8080/fashion-shows">Fashion Shows</a></li>
                        <li><a href="http://localhost:8080/arts-&-culture">Arts & Culture</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col">
                    <h4>CUSTOMER SERVICES</h4>
                    <ul>
                        <li><a href="http://localhost:8080/contact">Contact Us</a></li>
                        <li><a href="http://localhost:8080/find-a-store">Store Finder</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col">
                    <h4>Brand</h4>
                    <ul>
                        <li><a href="http://localhost:8080/privacy-policy">Privacy Policy</a></li>
                        <li><a href="http://localhost:8080/privacy-policy">General terms & conditions of sale</a></li>
                        <li><a href="http://localhost:8080/privacy-policy">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-col">
                    <h4>CONNECT</h4>
                    <ul>
                        <li><a href="http://localhost:8080/register">Sign up</a><span> first access to latest
                                collections, campaigns and videos.</span></li>
                    </ul>
                </div>
            </div>
            <div class="footer-line"></div>
            <h1>VELURELLE</h1>
            <p>&copy; reserved by @Madhurima</p>
        </div>







    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>